.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   margin: 10px;
}

.ok{
    border: solid blue;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: chartreuse;
}